<div class="card card-center">
  <img class="icon" src="assets/img/icon1.png" />
  <h1>Bienvenido a la Prueba Técnica de Desarrollador Full Stack</h1>
</div>

<div class="card">
  <p>
    Aunque hace un par de años no uso las herramientas requeridas
    para el desarrollo de esta prueba me divertí mucho desarrollandola,
    aprender y desarrollar nuevas habilidades siempre es muy satisfactorio.

    A continuación encontrará las opciones para proceder con las opciones
    del sistema de facturación:
  </p>
  <ol>
    <li><a routerLink="/companies">Modulo de Compañias, Clientes y Productos</a></li>
    <li><a routerLink="/invoicement">Creación de Facturas</a></li>
  </ol>
</div>
