* {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
body, html, #container {
  background-color: #fff;
}
header {
  width: 100%;
  height: 300px;
  background-color: #ff9d00;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d17' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f47d24' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6e2d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f34' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d85239' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc453e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3941' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b02f43' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a02644' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23901e44' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23801843' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236f1341' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235e0f3d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234e0c38' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0933' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e062c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Anton', sans-serif !important;
}

#container {
  height: 500px;
}

.invoice-content {
  background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
  border-radius: 50px 50px 0px 0px;
  margin: -3em auto;
  min-height: calc(100vh - 200px);
  padding: 2em 2em 2em 2em;
  width: 50%;

}

.my-pic {
  width: 80px;
  height: 80px;
  border-radius: 50px 50px 50px 50px;
}

.card {
  margin: 1em 0px 0px 0px;
  width: 95%;
  min-height: 100px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 1em;
  -webkit-box-shadow: 0 0 5px 1px #636363;
  box-shadow: 0 0 5px 1px #636363;
}

.card h1, .card h2, .card h3, .card h4, .card h5, .card h6 {
  text-align: center;
  color:#1f0022
}

p, ol, a, .dx-treelist-container td {
  font-size: 20px;
  font-family: 'Titillium Web', sans-serif !important;
}
a {
  text-decoration: none;
  font-weight: 600;
}
ol {
  margin-top: 1em;
  margin-left: 2em;
}

.icon {
  width: 100px;
  height: 100px;
  margin-bottom: 1em;
}
.card-center {
  text-align: center;
}

.dx-treelist-container td, .dx-treelist-container td {
  text-align: center !important;
  vertical-align: middle;
}
